# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env
.env.local
.env.*

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# Cache
.cache/
cache/
tmp/

# OS files
.DS_Store
Thumbs.db

# Model files
models/
checkpoints/
weights/

*.pt
*.pth
*.bin
*.ckpt
*.safetensors
*.onnx

# Dataset
datasets/
data/raw/
data/intermediate/

# Label Studio exports
exports/
annotations/

# Build
dist/
build/

# Docker
*.tar

# Testing
.pytest_cache/
.coverage
htmlcov/

# CUDA temp
*.nvvp

.history/
.lh/
target/
**/target/